<%= form_with(model: evidence, local: true) do |form| %>
  <% if evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
      <% evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <div class="container d-flex">
      <%= form.datetime_select :deadline %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
