<p id="notice"><%= notice %></p>

<h1>Evidences</h1>

<table>
  <thead>
    <tr>
      <th>Points</th>
      <th>Title</th>
      <th>Date</th>
      <th>Img url</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evidences.each do |evidence| %>
      <tr>
        <td><%= evidence.points %></td>
        <td><%= evidence.title %></td>
        <td><%= evidence.img_url %></td>
        <td><%= evidence.deadline %></td>
        <td><%= link_to 'Show', evidence %></td>
        <td><%= link_to 'Edit', edit_evidence_path(evidence) %></td>
        <td><%= link_to 'Destroy', evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evidence', new_evidence_path %>
