<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<p>
  <strong>Points:</strong>
  <%= @evidence.points %>
</p>

<p>
  <strong>Title:</strong>
  <%= @evidence.title %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @evidence.img_url %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @evidence.deadline %>
</p>

<%= link_to 'Edit', edit_evidence_path(@evidence) %> |
<%= link_to 'Back', evidences_path %>
