<header>
  <%= link_to :admin_dashboard do %>
    <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <img>
</header>

<section id="houses-container" class="page-wrapper">

  <% @houses.each do |house| %>
    <div class="house-component">
      <div class="house-img">
        <% case house.name
            when "Cuervos" %><%= image_tag '/casas/cuervos_XXL.png', :class => "house-icon" %>
        <% when "Gallinas de Guinea" %><%= image_tag '/casas/gallinas_XXL.png', :class => "house-icon" %>
        <% when "Patos" %><%= image_tag '/casas/patos_XXL.png', :class => "house-icon" %>
        <% when "Pavo Reales" %><%= image_tag '/casas/pavo_reales_XXL.png', :class => "house-icon" %>
        <% when "Venados" %><%= image_tag '/casas/venados_XXL.png', :class => "house-icon" %>
        <% end %>
      </div>

      <div class="points-container">
        <span>Puntos: </span>
        <span id="house-points"><%= house.points %></span>
      </div>
    </div>
  <% end %>
</section>
