<header>
  <%= link_to dashboard_url do %>
    <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <%= link_to :logout do %>
    <i class="material-icons md-36 md-light">exit_to_app</i>
  <% end %>
</header>

<section id="house-display">
  <div id="house-img">
    <% case @house.name
        when "Cuervos" %><%= image_tag '/casas/cuervos.png', :class => "house-icon" %>
    <% when "Gallinas" %><%= image_tag '/casas/gallinas.png', :class => "house-icon" %>
    <% when "Patos" %><%= image_tag '/casas/patos.png', :class => "house-icon" %>
    <% when "Pavo Reales" %><%= image_tag '/casas/pavo_reales.png', :class => "house-icon" %>
    <% when "Venados" %><%= image_tag '/casas/venados.png', :class => "house-icon" %>
    <% end %>
  </div>

  <div id="points-container">
    <span>Puntos: </span>
    <span id="house-points"><%= @house.points %></span>
  </div>
</section>
