<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<section id="all-students-panel" class="panel-component">
    <p class="label">ESTUDIANTES:</p>
    <div id="students-container" class="elements-container">
    <% @students.each do |student| %>
    <div class="event-component element-component">
        <div class="profile-img-component">
          <%= image_tag student.profile_img_url, :class => "user-img" %>

          <% case current_user.house.name
              when "Cuervos" %><%= image_tag '/casas/cuervos.png', :class => "house-icon" %>
          <% when "Gallinas de Guinea" %><%= image_tag '/casas/gallinas.png', :class => "house-icon" %>
          <% when "Patos" %><%= image_tag '/casas/patos.png', :class => "house-icon" %>
          <% when "Pavo Reales" %><%= image_tag '/casas/pavo_reales.png', :class => "house-icon" %>
          <% when "Venados" %><%= image_tag '/casas/venados.png', :class => "house-icon" %>
          <% end %>
        </div>

        <div id="student-info-container" class="student-info">
          <p id="student-name" class="student-name"><%= student.name %></p>
          <p id="student-id" class="student-tec-id"><%= student.tec_id %></p>
          <p id="student-points" class="student-points">Puntos: <%= student.points %></p>
        </div>

        <%= link_to student, method: :delete, data: { confirm: '¿Segur@ que quieres borrar a este ITC de la existencia?' } do %>
        <i class="material-icons right-icon">delete</i>
        <% end %>
    </div>
    <% end %>
    </div>
</section>

<br>
