<header>
    <%= link_to dashboard_url do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <%= link_to :logout do %>
        <i class="material-icons md-36 md-light">exit_to_app</i>
    <% end %>
</header>

<main class="container">

    <%= react_component("Student", {
        student: current_user,
        points: current_user.points,
        registrations: current_user.registrations,
        evidences: current_user.evidences
    }) %>

    <div hidden>
    
        <section id="student-display">

            <%= link_to current_user.house, class: "profile-img-component" do %>
                <%= image_tag current_user.profile_img_url, :class => "user-img" %>

                <% case current_user.house.name
                    when "Cuervos" %><%= image_tag '/casas/cuervos.png', :class => "house-icon" %>
                <% when "Gallinas de Guinea" %>
                    <%= image_tag '/casas/gallinas.png', :class => "house-icon" %>
                <% when "Patos" %>
                    <%= image_tag '/casas/patos.png', :class => "house-icon" %>
                <% when "Pavo Reales" %>
                    <%= image_tag '/casas/pavo_reales.png', :class => "house-icon" %>
                <% when "Venados" %>
                    <%= image_tag '/casas/venados.png', :class => "house-icon" %>
                <% end %>
            <% end %>

            <div id="student-info-container">
                <p id="student-name"><%= @student.name %></p>
                <p id="student-id"><%= @student.tec_id %></p>
            </div>

        </section>

        <div id="puntos-display">
            <span>Puntos: </span>
            <span id="student-puntos"><%= @student.points %></span>
        </div>

        <div class="row">
            <section id="my-registrations-panel" class="panel-component">

                <p class="label">Registros de Evidencias:</p>
                
                <div id="my-registrations-container" class="elements-container">
                    <% current_user.registrations.each do |registration| %>
                    <div class="registration-component element-component">
                        <div class="info">
                            <p class="title"><%= registration.evidence.title %></p>
                            <p class="date"><%= registration.date.strftime("%A %B %d, %Y") %></p>
                        </div>
                        <div class="icon-container">
                            <% if registration.approved %>
                            <i class="material-icons right-icon">done</i>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                </div>

            </section>
        </div>
    </div>
</main>