<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @assistance.student_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= Event.find(@assistance.event_id).title %>
</p>

<%= link_to 'Edit', edit_assistance_path(@assistance) %> |
<%= link_to 'Back', assistances_path %>
