<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<section id="all-registrations-panel" class="panel-component">
    <p class="label">REGISTROS:</p>
    <div id="next-events-container" class="elements-container">
    <% @registrations.each do |registration| %>
    <div class="registration-component element-component">
        <div class="registration-info">
            <p class="student-tec-id"><%= registration.student.tec_id %></p>
            <p class="evidence-title"><%= registration.evidence.title %></p>
        </div>
        <span class="registration-proof"><%= registration.proof %></span>
        <p class="index-justification"><%= registration.justification %></p>
        
        <%= form_tag approve_registration_path(registration.id), method: "get" do %>
            <%= text_field_tag :assigned_points, params[:assigned_points], class: "assigned_points" %>
            <%= button_tag :type => :submit, :class => "btn btn-medium btn-inverse", :data => { confirm: '¿Aprobar registro?' } do %>
                <i class="material-icons">done_outline</i>
            <% end %>
        <% end %>
        <%= link_to registration, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="material-icons right-icon">delete</i>
        <% end %>
    </div>
    <% end %>
    </div>
</section>
