<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @registration.student_id %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @registration.evidence_id %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @registration.proof %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @registration.approved %>
</p>

<p>
  <strong>Date:</strong>
  <%= @registration.date %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
