<header>
    <%= link_to dashboard_url do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <p class="title">ADMIN</p>
    <img src="" class="empty">
</header>

<h1 class="main-title">BIENVENIDO <%= current_user.f_name %>!! TOP SECRET</h1>

<section id="admin-actions" class="page-wrapper">

<%= link_to :houses, {:id => "houses-button", :class => "button-component"}, method: :get do %>
    <span>CASAS</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<%= link_to :students, {:id => "students-button", :class => "button-component"}, method: :get do %>
    <span>ESTUDIANTES</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<%= link_to :events, {:id => "events-button", :class => "button-component"}, method: :get do %>
    <span>EVENTOS</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<%= link_to :registrations, {:id => "registrations-button", :class => "button-component"}, method: :get do %>
    <span>REGISTROS</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<%= link_to :evidences, {:id => "evidences-button", :class => "button-component"}, method: :get do %>
    <span>EVIDENCIAS</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<%= link_to :redirects, {:id => "redirects-button", :class => "button-component"}, method: :get do %>
    <span>REDIRECTS</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<%= link_to :internships, {:id => "internships-button", :class => "button-component"}, method: :get do %>
    <span>INTERNSHIPS</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

</section>