<!--
<header>
    <%= link_to :root  do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <p class="title">Bienvenido</p>
    <div class="empty"></div>
</header>
<table id="loginBox">
    <tr>
        <th id="imageColumn" rowspan="2">  
                <img src="../assets/SAITC.png" > </img>
            
        </th>
        <td>
            
                <section id="signup-container" class="button-component">
                        <p>¿Primera vez aquí?</p>
                        <%= link_to "Registrarme", :signup  %>
                </section>  
        </td>
        <td>
                <section id="login-container">
                    <%= link_to :google_login, {:class => "google-login"} do %>
                        <img src="/material/btn_google_signin.png" />
                    <% end %>
                </section>
            </td>
        
    </tr>     
</table>

-->
<img id="event-portrait" src="/SAITC-portrait.jpeg">
    
<h1 id="greeting" class="main-title">SOCIEDAD DE ALUMNOS DE INGENIERÍA EN TECNOLOGÍAS COMPUTACIONALES</h1>

<div class="page-wrapper" style="margin-bottom: 2em;">
    <section>
        <p style="font-size: 1.25em; margin: 12px; justify-text: center;">
            La Sociedad de Alumnos de Ingeniería en Tecnologías Computacionales del Tecnológico
            de Monterrey, Campus Monterrey, es una de las comunidades estudiantiles más grandes
            de Ciencias Computacionales.
        </p>
        <p style="font-size: 1.25em; margin: 12px; justify-text: center;">
            Como alumno de la carrera, en este sitio podrás recibir recordatorios de los
            próximos eventos de la carra, registrar tu asistencia a los eventos, y conseguir
            puntos para ti y tu casa en la competencia de casas ITC!!
        </p>
    </section>
    <section style="width: auto">
        <div class="login-group">
            <section id="login-box">
                <section id="signup-container" class="button-component">
                    <p>¿Primera vez aquí?</p>
                    <%= link_to "Registrarme", :signup  %>
                </section>  
                            
                <section id="login-container">
                    <p>¿Ya eres usuario?</p>
                    <%= link_to :google_login, {:class => "google-login"} do %>
                        <img src="/material/btn_google_signin.png" />
                    <% end %>
                </section>
            </section>
        </div>
    </section>
</div>


