<h1>Home Login</h1>

<%= button_to "Cuervo", select_cuervo_path, method: :get %>
<%= button_to "Gallinas de Guinea", select_gallina_path, method: :get %>
<%= button_to "Patos", select_pato_path, method: :get %>
<%= button_to "Pavo Reales", select_pavo_real_path, method: :get %>
<%= button_to "Venados", select_venado_path, method: :get %>