<!--
<header>
    <%= link_to :root  do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <p class="title">Bienvenido</p>
    <div class="empty"></div>
</header>
<table id="loginBox">
    <tr>
        <th id="imageColumn" rowspan="2">  
                <img src="../assets/SAITC.png" > </img>
            
        </th>
        <td>
            
                <section id="signup-container" class="button-component">
                        <p>¿Primera vez aquí?</p>
                        <%= link_to "Registrarme", :signup  %>
                </section>  
        </td>
        <td>
                <section id="login-container">
                    <%= link_to :google_login, {:class => "google-login"} do %>
                        <img src="/material/btn_google_signin.png" />
                    <% end %>
                </section>
            </td>
        
    </tr>     
</table>

-->
<img id="event-portrait" src="https://lh3.googleusercontent.com/wxU3C8QilQAjQlqGj5oeFKhCwH4A0nZf57zaMB3AOJo9Si5rmAcwEavT_bpU4hbiTHX8LjW3TTHWavlLedNj9kmebFUcH8OyvRRYfNlM9y8XQkaQYkZwr8F4WVyLbhauZFaPhuRg2qSh-9NUkt9i126xoChIb53Qm1PQhxU3f-tl88xfHk5dmzh1NXIm0Kqwj0LjS_DInsdHuYNIwbYyR4ajO8TmUvmezHGAOeoAn729lazsBc4WnvxExm5LSPHCgjzFUamsL-F2BJoaa7ZOJy6_SQ2lF0Q6SSY2ycTlcUBcinF1sXN7Qtb7o76WUMAJ0CXAs4s6zsK9xgwKmbYYFNBMZbSCG5kH8BcEd_GJUFr0KpSvBS011dMgUVcLdKWvroX39JyEnqHWChCEE8POwRUUbLbCK44cMkJKUYN-OznDSpDl_poYwUeoawuWyj4KMV_KwjOsb1ZwdpLHq-z2SdI1BZrpAhODF9ngMaqVlZVURNCsitHL7fvM_DDs33p3NgHSx2bwtz9kCArfHzosUcMXTOCi2SVX2PtYmQ_P62yBeBVQkfILbkIS_puscW9SzLsWI2rRbi_o0eVm7lWe6hgpRp5QOQr24P8IFVV4pYpttICcW-M3mEXZspRJJInwzdQlj6dSF8EZ8_sxqEZJ6S1la-ViCM-sPgzIKspTe3EEGRebNuU5APNNF9cr-wo=w1366-h657">
    
<h1 id="greeting" class="main-title">SOCIEDAD DE ALUMNOS DE INGENIERÍA EN TECNOLOGÍAS COMPUTACIONALES</h1>

<div class="page-wrapper" style="margin-bottom: 2em;">
    <section>
        <p style="font-size: 1.5em; margin: 24px;">
            La Sociedad de Alumnos de Ingeniería en Tecnologías Computacionales del Tecnológico
            de Monterrey, Campus Monterrey, es una de las comunidades estudiantiles más grandes
            de Ciencias Computacionales. 
        </p>
    </section>
    <section>
        <div class="login-group">
            <section id="login-box">
                <section id="signup-container" class="button-component">
                    <p>¿Primera vez aquí?</p>
                    <%= link_to "Registrarme", :signup  %>
                </section>  
                            
                <section id="login-container">
                    <p>¿Ya eres usuario?</p>
                    <%= link_to :google_login, {:class => "google-login"} do %>
                        <img src="/material/btn_google_signin.png" />
                    <% end %>
                </section>
            </section>
        </div>
    </section>
</div>


