<header>
    <%= link_to :root, {:class => "back-button"} do %>
        <img src="/material/baseline_arrow_back_white_18dp.png">
    <% end %>
    <p class="header-title">Iniciar Sesión</p>
    <img src="" class="left-corner"/>
</header>

<p class="signup_label">ESCOGE TU CASA</p>

<section id="houses-container">

    <%= link_to :select_cuervo, method: :get do %>
        <img src="/casas/cuervos.png" />
    <% end %>
    <%= link_to :select_cuervo, method: :get do %>
        <img src="/casas/gallinas.png" />
    <% end %>
    <%= link_to :select_cuervo, method: :get do %>
        <img src="/casas/patos.png" />
    <% end %>
    <%= link_to :select_cuervo, method: :get do %>
        <img src="/casas/pavo_reales.png" />
    <% end %>
    <%= link_to :select_cuervo, method: :get do %>
        <img src="/casas/venados.png" />
    <% end %>
</section>