<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span>¿Cómo se llamará?:</span>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <span>¿Dónde será?:</span>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <span>¿Cuándo comienza?</span>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <span>¿Cuándo termina?</span>
    <%= form.datetime_select :end, :include_blank => true %>
  </div>

  <div class="field">
    <span>Descripción vrgas:</span>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <span>Imagen vrgas (URL):</span>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
