<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <p class="title">ADMIN</p>
  <div class="empty"></div>
</header>

<%= link_to new_event_path, {:id => "new-event", :class => "button-component"}, method: :get do %>
    <span>NUEVO EVENTO</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<section id="all-events-panel" class="panel-component">
    <p class="label">EVENTOS:</p>
    <div id="next-events-container" class="elements-container">
    <% @events.each do |event| %>
    <div class="event-component element-component">
        <span class="date">
            <%= I18n.l(event.start.to_date, format: "%b %d") %>
        </span>
        <div class="info">
            <p class="title"><%= event.title %></p>
            <div class="icon-text-component">
                <i class="material-icons md-inherit">room</i>
                <span class="event-info hour"><%= event.place %></span>
            </div>
        </div>

        <div class="event-buttons">
            <%= link_to event do %>
            <i class="material-icons right-icon md-inherit">remove_red_eye</i>
            <% end %>

            <%= link_to edit_event_path(event) do %>
            <i class="material-icons right-icon md-inherit">edit</i>
            <% end %>

            <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons right-icon md-inherit">delete</i>
            <% end %>
        </div>
    </div>
    <% end %>
    </div>
</section>
