<header>
  <%= link_to :root do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<%= image_tag(@event.img_url, id: "event-portrait") unless @event.img_url.empty? %>

<h1 class="title"><%= @event.title %></h1>

<div class="page-wrapper">

  <section id="event-info">
    <div class="info-container">
      <i class="material-icons md-dark md-inherit">room</i>
      <span><%= @event.place %></span>
    </div>

    <div id="dates-container">
      <div id="date-start-info">
        <div class="info-container">
          <i class="material-icons md-dark md-inherit">event</i>
          <span>
            <%= I18n.l(@event.start, format: "%b %d") %>
          </span>
        </div>

        <div class="info-container">
          <i class="material-icons md-dark md-inherit">access_time</i>
          <span><%= @event.start.strftime("%H:%M %p") %></span>
        </div>

      </div>

      <% unless @event.end.nil? %>
      <i class="material-icons md-dark md-48 middle-icon">trending_flat</i>

      <div id="date-end-info">
        <div class="info-container">
          <i class="material-icons md-dark md-inherit">event</i>
          <span><%= I18n.l(@event.end, format: "%b %d") %></span>
        </div>
        
        <div class="info-container">
          <i class="material-icons md-dark md-inherit">access_time</i>
          <span><%= @event.end.strftime("%H:%M %p") %></span>
        </div>

      </div>
      <% end %>
    </div>

    <div id="assistance-display">
    <% if @event.assistances.where(student_id: current_user.tec_id).empty? %>
      <%= link_to :assistances, method: :post do %>
        <i class="material-icons md-dark md-inherit">event_available</i>
        <span>¿Asistirás a este evento?</span>
      <% end %>
    <% else %>
      <%= link_to @assistance, method: :delete do %>
        <i class="material-icons md-dark md-inherit" style="color:#30257d;">event_available</i>
        <span>Asistencia registrada</span>
      <% end %>
    <% end %>
    </div>
  </section>

  <section id="event-details">
    <p id="event-description"><%= @event.description %></p>

    <% unless @event.link.empty? %>
    <%= link_to @event.link, target: :_blank do %>
        <div id="event-link-component" class="button-component">
            <span>LINK DEL EVENTO</span>
            <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
        </div>
    <% end %>
    <% end %>
  </section>

</div>
