<p id="notice"><%= notice %></p>

<h1>Redirects</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Event</th>
      <th>Evidence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redirects.each do |redirect| %>
      <tr>
        <td><%= redirect.code %></td>
        <td><%= Event.find(redirect.event_id).title %></td>
        <td><%= Evidence.find(redirect.evidence_id).title %></td>
        <td><%= link_to 'Edit', edit_redirect_path(redirect) %></td>
        <td><%= link_to 'Destroy', redirect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redirect', new_redirect_path %>
