<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<main class="container">
<%= link_to new_redirect_path, {:id => "new-redirect", :class => "button-component"}, method: :get do %>
    <span>NUEVO REDIRECT</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>

<section id="all-redirects-panel" class="panel-component">
    <p class="label">REDIRECTS:</p>
    <div id="next-events-container" class="elements-container">
    <% @redirects.each do |redirect| %>
    <div class="event-component element-component">
        <div class="redirect-info">
            <p class="event-title"><%= redirect.event.title %></p>
            <p class="evidence-title"><%= redirect.evidence.title %></p>
        </div>
        <span class="redirect-code monospace"><%= redirect.code %></span>

        <%= link_to edit_redirect_path(redirect) do %>
        <i class="material-icons right-icon">edit</i>
        <% end %>

        <%= link_to redirect, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="material-icons right-icon">delete</i>
        <% end %>
    </div>
    <% end %>
    </div>
</section>
</main>
