<header>
  <%= link_to :root do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<p class="page-title">ENLAZAR EVENTOS / EVIDENCIAS</p>

<section>
  <%= form_with(model: @redirect, local: true) do |form| %>
    <% if @redirect.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@redirect.errors.count, "error") %> prohibited this redirect from being saved:</h2>

        <ul>
        <% @redirect.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <p>Evento:</p>
      <%= select("redirect", "event_id", Event.all.collect {|e| [ e.title, e.id ] }) %>
    </div>

    <div class="field">
      <p>Evidencia:</p>
      <%= select("redirect", "evidence_id", Evidence.all.collect {|e| [ e.title, e.id ] }) %>
    </div>

    <div class="field">
      <p>Código a mostrar:</p>
      <%= form.text_field :code %>
    </div>

    <div class="actions">
      <%= form.submit "CREAR" %>
    </div>
  <% end %>
</section>
