<header>
    <% if current_user.admin? %>
        <%= link_to :admin_dashboard do %>
            <i class="material-icons md-36 md-light">business_center</i>
        <% end %>
    <% else %>
        <img src="" class="empty">
    <% end %>

    <img src="/saitc_logo/SAITC_logo_S.png" class="center-icon">

    <%= link_to current_user do %>
        <%= image_tag current_user.profile_img_url, :class => "user-img" %>
    <% end %>
</header>
<div>
    <h2 class="internship-title"> <%= @internship.title %></h2>
    <p class="internship-body"><%= @internship.body %></p>
    <br>

    <% if current_user.admin? %>

        <%= link_to edit_internship_path(@internship), {:class => "edit-internship "}, method: :get do %>
            <span>Edit</span>
        <% end %>

        <%= link_to internship_path(@internship), :class => "delete-internship ", method: :delete, data:{confirm: 'Are you sure you want to delete?'} do %>
            <span>Delete</span>
        <% end %>

    <% end %>

    <%= link_to '/internships', {:class => "back-internships"}, method: :get do %>
        <span>Back</span>
    <% end %>
</div>